h1 {
color: blueviolet;

}

p {
    color: orange;
background-color: greenyellow;
}

body {
    background-color: paleturquoise;
    font-family:'Courier New', Courier, monospace
}

.pi {
    color: bisque;
    background-color: aquamarine;
    
}
