h1 {
color: greenyellow;
text-align:center;

}

h2 {
    text-align:center;
}

p {
    color: black;
background-color: #FFCCCC;
font-family:'Courier New', Courier, monospace;
font-size:11px;
font-style:italic;
font-weight:bold;

}

body {
    background-color: #e6abe6;
    font-family:'Courier New', Courier, monospace
}

.p1 {
    color: bisque;
    background-color: aquamarine;
    
}
