h1 {
color: greenyellow;

}

p {
    color: black;
background-color: #FFCCCC;
}

body {
    background-color: #e6abe6;
    font-family:'Courier New', Courier, monospace
}

.pi {
    color: bisque;
    background-color: aquamarine;
    
}
